<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Eric">
    <meta name="description" content="Eric's newskata site">
      <title> About </title>
    </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <ul>
            <%= link_to "Home", root_path %>
            <%= link_to "About", about_path %>
            <%= link_to "Create an account!", signup_path %>
            </ul>
        </div>
      </nav>
      </header>
      <h1>About me</h1>
    <p>
        Me name is Eric and I live in Columbus. You can find out more about me
        by visiting my personal site that I built with Ruby on Rails a few years ago
        at <a href="http://www.ericmay.me/about/">my personal site: ericmay.me</a>
      </p>
    </body>
</html>
