<% provide(:title, "Newskata") %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Eric">
    <meta name="description" content="Eric's newskata site">
      <title> <%= yield(:title) %> </title>
    </head>
  <body>
      <h1>Welcome to Eric's news site!</h1>
    </body>
    <p>
      </p>
    </body>
</html>
